.navbar-nav .nav-link {
    color: rgba(200,50,0,0.78) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(180,0,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}
